%h3 Our Next Red Door Meal

%h1
  = @event.name
  %small= "on #{@event.date} at #{@event.location}"

%hr

%div.row
  %ul
    %li= "Theme: #{@event.theme}"
    %li= "Notes: #{@event.notes}"

%hr

= render 'items/needed'

%hr

= render 'items/signedup'

%div.row
  %h3
    = link_to "Sign up to bring something!", new_event_signup_path(:event_id => @event.id.to_s)
