%h1 
  Red Door Pitch-in Events
  %small
    = link_to '+ Add New Event', new_event_path

- if !@events.empty?
  %table
    %tr
      %th
      - @events.first.attributes.each do |key,val|
        %th= key
      %th

    - @events.each do |event|
      %tr
        %td= link_to 'View', event
        - event.attributes.each do |key,val|
          %td= val
        %td= link_to 'Edit', edit_event_path(event)
        